{% extends "base.html" %}
{% block content %}
<h2>Student Preferences by Group</h2>

{% for group in ['A', 'B', 'C', 'D'] %}
    <h3>Group {{ group }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Preferred Books</th>
            </tr>
        </thead>
        <tbody>
            {% for student, info in preferences.items() if info.group == group %}
            <tr>
                <td>{{ student }}</td>
                <td>
                    <ul>
                    {% for book in info.preferred_books %}
                        <li>{{ book }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endblock %}